@model TuinCentrumMVC.Models.Leverancier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leverancier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Woonplaats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LevNr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
