<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tuin Centrum MVC", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Teksten.Planten, "Index", "Plants")</li>
                    <li>@Html.ActionLink(Resources.Teksten.Soorten, "Index", "Soorts")</li>
                    <li>@Html.ActionLink(Resources.Teksten.Leveranciers, "Index", "Leveranciers")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='@Url.Action(ViewBag.Title, new { culture = "nl-BE" })'>
                    <img src="~/Content/Images/nederlands.png" alt="nederlands" /> </a>
                    </li>
                <li> 
                    <a href='@Url.Action(ViewBag.Title, new { culture = "fr-BE" })'>
                    <img src="~/Content/Images/francais.png" alt="français" /> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <img class="extramargin" src="~/Content/Images/tuincentrum.png" alt="tuincentrumlogo" />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cursus VDAB - In opdracht van Devecom</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
