@model IEnumerable<TuinCentrumMVC.Models.Soort>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagazijnNr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagazijnNr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoortNr }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoortNr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoortNr })
        </td>
    </tr>
}

</table>
