@model IEnumerable<TuinCentrumMVC.Models.Plant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerkoopPrijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leverancier.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soort.Naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kleur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerkoopPrijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leverancier.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soort.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlantNr }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlantNr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlantNr })
        </td>
    </tr>
}

</table>
